<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Springboot Object</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>
<body>
<h2>Springboot Object</h2>

<form action="addAlien">
    <label for="aid">Enter Id :</label>
    <input type="text" id="aid" name="aid"><br>
    <label for="aname">Enter Name :</label>
    <input type="text" id="aname" name="aname"><br>
    <input type="submit" value="Submit">
</form>

</body>
</html>