<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- <bean id="alien1" class="com.spring.Alien" autowire="byName"> -->
    <bean id="alien1" class="com.spring.Alien" autowire="byType">
    
    	<!-- <property name="age" value="21"></property>
        <property name="com" ref="lap1"></property> -->
        
        <property name="age" value="21"></property>
        <!-- <property name="com" ref="com1"></property> -->
        
    </bean>
	
	<!-- <bean id="lap1" class="com.spring.Laptop"></bean> -->
	
	<!-- <bean id="com1" class="com.spring.Laptop"></bean> -->
	
	<!-- <bean id="com" class="com.spring.Desktop"></bean> -->
	
	<bean id="com2" class="com.spring.Desktop"></bean>

</beans>